#left{
    display: flex;
    width: 70%;
    min-height: 300px;
    /* background-color: red; */
}

#left .lead{
    font-size: 14px;
    margin-top: -5px;
}

#left p.lead{
    font-size: 12px;
    width: 80%;
}

#left p.lead::before{
    content: "About Me : ";
    font-weight: 500;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e3e3e3;
}

.flex{
    display: flex;
}

.flexy{
    display: flex;
}

.profilePicFrame{
    padding: 2px;
    width: 16%;
    height: 150px;
    border-radius: 13px;
    border: 4px solid rgb(205, 233, 236);
    background-color: #e3e3e3;
    margin-right: 10px;
}

#profilePic{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

img.prflpic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details{
    width: 84%;
    min-height: 300px;
    /* background-color: green; */
}

.details .icns i{
    cursor: pointer;
    font-size: 12px;
    color: rgb(28, 153, 236);
}

.post{
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 10px 10px 30px 10px;
    margin-bottom: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.062), 0 3px 6px rgba(0, 0, 0, 0.123);
}

.prevPost h4{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 4px;
    color: rgb(116, 116, 116);
}

.prevPost small{
    font-weight: 400;
    font-size: 11px;
    color: rgb(182, 182, 182);
}

.postTop{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    /* background-color: red; */
}

.postDetails{
    margin-left: 10px;
}

.postDetails h6{
    margin-bottom: 0px;
    color: rgb(75, 75, 75);
}

.post > p{
    /* padding: 0 20px; */
    font-size: 13px;
    margin-top: 10px;
}

.usrPrfl{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 5%;
    width: 120px;
    padding: 0 10px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.062), 0 3px 6px rgba(0, 0, 0, 0.123);
}

.options > .icon{
    background-color: rgb(17, 178, 206);
    width: 25px;
    font-size: 12px;
    height: 25px;
    cursor: pointer;
    color: #fff !important;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.options a{
    color: #fff;
}

.options > .icon:nth-child(1){
    background-color: rgb(139, 240, 144);
}

.options > .icon:hover{
    transform: scale(1.1) rotate(-10deg);
}

.options > .icon:nth-child(2){
    background-color: rgb(255, 177, 177);
}

#right{
    width: 30%;
    min-height: 300px;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #f1f1f1;
    background-color: rgb(255, 255, 255);
}































@media(max-width: 990px){
    .profilePicFrame{
        width: 20%;
        height: 17%;
    }
}

@media(max-width: 780px){
    .flex{
        flex-direction: column;
        align-items: flex-start;
    }
    #left{
        width: 100%;
        /* background-color: red; */
    }
    .profilePicFrame{
        width: 22%;
        height: 130px;
    }
}

@media(max-width: 450px){
    .flex{
        flex-direction: column;
        align-items: flex-start;
    }
    #left{
        flex-direction: column;
        width: 100%;
        /* background-color: red; */
    }
    #right{
        width: 100%;
        margin-top: 40px;
    }
    #left .details{
        width: 100%;
        padding: 0 !important;
        margin-top: 10px;
    }
    .profilePicFrame{
        width: 110px;
        height: 100px;
    }
    #right{
        margin-left: 0;
        border-left: none;
    }
}